<footer>
  <div class="row">
    <div class="column small-12">
      <p class="text-center"><small>Info  Email <a href="javascript:;">support@loket.com</a>, Twitter<a href="javascript:;">@loketid</a>,  Phone (021) 920 920 19</small></p>
    </div>
  </div>
</footer>
<script src="javascript/jquery.js"></script>
<script src="javascript/foundation.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
<script src="javascript/app.js"></script>
<script>
$(document).foundation();
</script>
