<header>
  <nav data-topbar="" role="navigation" class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">BECOME ONE - JAKARTA ELECTRONIC DANCE MUSIC</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a data-dropdown="cart" aria-controls="cart" aria-expanded="cart">Price <span><img src='images/cart.png'></span></a>
          <div id="cart" data-dropdown-content="data-dropdown-content" aria-hidden="true" tabindex="-1" class="f-dropdown content">
            <p>lorem i</p>
          </div>
        </li>
      </ul>
    </section>
  </nav>
  <nav>
    <div class="row">
      <div class="small-12 medium-8 column">
        <p><small> Info Support: Email support@loket.com, Twitter @loketid, Phone (021) 920 920 19 </small></p>
      </div>
      <div class="small-12 medium-4 column"><a href="">Change Language</a></div>
    </div>
  </nav>
</header>
