<header>
    <nav data-topbar="" role="navigation" class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">{{account_organization}} - {{event_name}}</a></h1>
        </li>
        
      </ul>
      <section ng-controller="Dropdown" data-options="align:left" class="top-bar-section">
        <ul class="right">
          <li><a dropdown-toggle="#cart">{{total | rupiah}} <span><img src='images/cart.png'></span></a></li>
          <div id="cart" class="f-dropdown">
            <table>
              <thead>
                <tr>
                  <th width="200">Ticket type</th>
                  <th>Qty</th>
                  <th width="150">Price</th>
                </tr>
              </thead>
              <tbody ng-repeat="tiket in booking.tickets">
                <tr>
                  <td>{{tiket.event_ticket_name}}</td>
                  <td> {{tiket.event_ticket_qty}}</td>
                  <td>@{{tiket.event_ticket_price | rupiah}}</td>
                </tr>
                </tbody>
                <tr ng-show="payment_fee">
                  <td>Biaya Tambahan</td>
                  <td></td>
                  <td>{{payment_fee | rupiah}}</td>
                </tr>   
                <tr ng-show="{{discount}}">
                  <td>Discount</td>
                  <td></td>
                  <td>{{discount | rupiah}}</td>
                </tr>                                                
                <tr>
                  <td>Total</td>
                  <td></td>
                  <td>{{total | rupiah}}</td>
                </tr>                                                                
              </tbody>
            </table>
            </div>
        </ul>
      </section>
    </nav>
    <nav>
      <div class="row info">
        <div class="small-12 medium-8 column">
          <p><small> Info Support: Email support@loket.com, Twitter @loketid, Phone (021) 920 920 19 </small></p>
        </div>
        <div class="small-12 medium-4 column"></div>
      </div>
    </nav>
</header>
