<!-- default is for atm -->

<div class="row">
  <div class="small-12 column">
    <h4 class="subheader">Data Diri</h4>
    <hr>
  </div>
</div>
<div class="content-container">
      <form>
        <div class="row">
          <div class="small-12 medium-6 column">
            <label>Nama Depan</label>
            <input type="text" placeholder="name" class="radius"/>
          </div>
          <div class="small-12 medium-6 column">
            <label>Nama Belakang</label>
            <input type="text" placeholder="Nama Belakang" class="radius"/>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 column">
            <label>Email</label>
            <input type="text" placeholder="Email" class="radius"/>
          </div>
          <div class="small-12 medium-6 column">
            <label>Verifikasi Email</label>
            <input type="text" placeholder="Verifikasi Email" class="radius"/>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 column">
            <label>Nomor Identitas</label>
            <input type="text" placeholder="Email" class="radius"/>
          </div>
          <div class="small-12 medium-6 column">
            <label>Nomor HP</label>
            <input type="text" placeholder="Verifikasi Email" class="radius"/>
          </div>
        </div><br/><br/>
        <div class="row">
          <div class="small-12 column">
            <label>
              <h5 class="subheader">Simpan Data Pribadi</h5>
              <hr/>
              <input type="radio" name="pokemon" value="Red" id="pokemonRed"/>
              <label for="pokemonRed">Ya</label>
              <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"/>
              <label for="pokemonBlue">Tidak</label>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-6 column">
            <button class="button expand secondary"  ui-sref="payment.method">Kembali</button>
          </div>
          <div class="small-12 medium-6 column">
            <button class="button expand" ui-sref="payment.thanks">Selesai</button>
          </div>
        </div>
      </form>
</div>
