<div class="row"  >
  <div class="small-12 columns">
    <div class="payment-wrapper">
      <div class="title">
        <h4 class="text-center">Pilihlah Cara Pembayaran yang Anda Mau Pakai</h4>
      </div>
      

        <accordion close-others="oneAtATime"  >
          <accordion-group is-open="false"  ng-repeat="data in booking.paymentlist">

            <accordion-heading >
              <input ng-click="setPayment(data.payment_method_id)"  type="radio" id="payment{{ data.payment_method_id }}">
              <label  for=""> {{ data.payment_method_value }} </label>

            </accordion-heading>
            <table>
              <thead>
                <tr>
                  <th>Jenis Tiket</th>
                  <th width="200">Kuota</th>
                  <th width="350">Harga</th>
                </tr>
              </thead>
              <tbody ng-repeat="tiket in booking.tickets">
                <tr>
                  <td>{{tiket.event_ticket_name}}</td>
                  <td> {{tiket.event_ticket_qty}}</td>
                  <td>@{{tiket.event_ticket_price | rupiah}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td>Biaya Tambahan</td>
                  <td></td>
                  <td>{{data.payment_fee | rupiah}}</td>
                </tr>
                 <tr ng-show="{{data.discount}}">
                  <td>Discount</td>
                  <td></td>
                  <td>{{data.discount | rupiah}}</td>
                </tr>                
                <tr>
                  <td>Total</td>
                  <td> </td>
                  <td> {{data.totalbayar | rupiah}}</td>
                </tr>
                </tfoot>
              
            </table>
          </accordion-group>

        </accordion>

      
    </div>
    <div class="small-12 medium-6 medium-centered column">
      <button class="button primary expand" ui-sref="payment.profile">Selanjutnya</button>
    </div>


    </div>

</div>
