<div class="row"  >
  <div class="small-12 columns">
    <div class="payment-wrapper">
      <div class="title">
        <h4 class="text-center">Pilihlah Cara Pembayaran yang Anda Mau Pakai</h4>
      </div>
      <div  ng-controller="paymentController" >

        <accordion close-others="oneAtATime"  >
          <accordion-group is-open="false"  ng-repeat="data in ocw.data">

            <accordion-heading >
              <input type="radio" id=" {{ data.payment_method_value }}">
              <label for=""> {{ data.payment_method_value }} </label>

            </accordion-heading>
            <table>
              <thead>
                <tr>
                  <th>Jenis Tiket</th>
                  <th width="200">Kuota</th>
                  <th width="350">Harga</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>GA IDR 500.000 (Tax Included) + Admin Fee IDR 25.000</td>
                  <td> 2</td>
                  <td>@ Rp 525.000,00</td>
                </tr>
                <tr>
                  <td>Biaya Tambahan</td>
                  <td>1</td>
                  <td>Content Goes Here</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td> </td>
                  <td> </td>
                </tr>
              </tbody>
            </table>
          </accordion-group>

        </accordion>

      </div>
    </div>
    <div class="small-12 medium-6 medium-centered column">
      <button class="button primary expand" ui-sref="payment.profile">Selanjutnya</button>
    </div>


    </div>

</div>
