<div id="form-container">

    <div class="page-header text-center">
        <div id="status-buttons" class="text-center">
            <a ui-sref-active="active" ng-click="done($event)" class="step" ui-sref=".method">1</a>
            <a ui-sref-active="active" class="step" ui-sref=".profile">2</a>
            <a ui-sref-active="active" class="step" ui-sref=".thanks">3</a>
        </div>
    </div>

    <!-- use ng-submit to catch the form submission and use our Angular function -->
    <div class="row">
      <div class="small-12 column">
        <form id="signup-form" ng-submit="processForm()">

            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>
        </form>
      </div>
    </div>

</div>
